
.product-banner {
    width: 100%;
    height: 80vh;
    background-image: url("../../../public/img/main.jpg");
    background-repeat: no-repeat;
  
    background-size: cover;
    background-position: center bottom 25%;
}


.product-page {
 

  .text {
    text-align: center;
    padding: 7rem 0 0 0;

 
  }

  .product {
    margin: 0 0 80px 0;

    .container {
      margin: 0 auto;

      .product-row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
        margin: 5rem 0;
      }

      .product-item {
        height: 100%;
        padding: 1rem;
        text-align: center;
        background-color: white;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

        .img {
          width: 100%;
          height: 180px;

          .image {
         width:150px;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .product-item p {
        margin: 10px 0;
        padding: 8px;
      }

      .product-item .price {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .price-button {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .proButton {
        background-color: green;
        color: white;
        width: 150px;
        height: fit-content;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 3rem;
      }

      .viewsButton {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .views {
        height: 50px;
        width: 13rem;
        background-color: #608dfd;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .product .container .product-row {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .product .container .product-item {
      width: 100%;
      margin: 0;
    }
  }

  @media screen and (max-width: 480px) {
    .product .container .product-row {
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    .product .container .product-item {
      width: 100%;
      margin: 0;
    }
  }
}
